<!-- site footer -->
<footer>
	<div class="container d-md-flex align-items-center justify-content-between">
		
		<!-- copyright text -->
		<span class="copyright">Copyright &copy; 2022.Company name All rights reserved.</span>
		
		<!-- social icons -->
		<ul class="social-profiles">
			<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li><a href="#"><i class="fab fa-instagram"></i></a></li>
		</ul>

	</div>
</footer>

<!-- Go to top button -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- SCRIPTS -->

<!-- jQuery -->
<script src="/static/js/jquery-1.12.3.min.js"></script>
<!-- jQuery easing -->
<script src="/static/js/jquery.easing.min.js"></script>
<!-- Popper -->
<script src="/static/js/popper.min.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- jPreloader -->
<script src="/static/js/jpreloader.min.js"></script>
<!-- Waypoints JS -->
<script src="/static/js/jquery.waypoints.min.js"></script>
<!-- Counterup JS -->
<script src="/static/js/jquery.counterup.min.js"></script>
<!-- Stellar (parallax) -->
<script src="/static/js/jquery.stellar.js"></script>
<!-- Magnific Popup -->
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<!-- Isotope (filtered portfolio) -->
<script src="/static/js/isotope.pkgd.min.js"></script>
<!-- Wow JS -->
<script src="/static/js/wow.min.js"></script>
<!-- Flat Surface Shader JS -->
<script src="/static/js/fss.min.js"></script>
<!-- Particles JS -->
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/particles-config.js"></script>
<!-- Parallax JS -->
<script src="/static/js/parallax.min.js"></script>
<!-- Slick carousel -->
<script src="/static/js/slick.min.js"></script>
<!-- Bootstrap Validator -->
<script src="/static/js/validator.js"></script>
<!-- Contact form -->
<script src="/static/js/contact.js"></script>
<!-- Talib Template JS -->
<script src="/static/js/custom.js"></script>

<!-- END SCRIPTS -->

</body>
</html>