{% include header.html %}

<!-- section portfolio content -->
<section class="portfolio-content with-line text-center">
	<!-- title -->
		<h1 class="title">{{ page.title }}</h1>
		<p>{{ page.date | date: "%Y-%m-%d" }}</p>

	<div class="container text-left">

		{{ content }}
		
		<!-- related portfolio -->
		<div class="portfolio-related">
			<div class="row">
				{% if page.previous %}
				<!-- portfolio item -->
				<div class="col-sm-6">
					<div class="portfolio-item text-left">
						<span class="term">上一篇</span>
						<h4 class="title"><a href="{{ page.previous.url }}">{{ page.previous.title | truncatewords:5 }}</a></h4>
					</div>
				</div>
				{% endif %}

				{% if page.next %}
				<!-- portfolio item -->
				<div class="col-sm-6">
					<div class="portfolio-item text-center">
						<span class="term">下一篇</span>
						<h4 class="title"><a href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }}</a></h4>
					</div>
				</div>
				{% endif %}
				
			</div>

		</div>

	</div>
	
</section>
<script type="text/javascript">
	$("#jpreOverlay").fadeOut(1000);
</script>
{% include footer.html %}